<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>课程中心</title>
		<link rel="stylesheet" type="text/css" href="modules/css/course.scss" />
		<link rel="stylesheet" type="text/css" href="lib/js/laypage/skin/laypage.css"/>
	</head>

	<body>
		<link rel="import" href="modules/html/header/header.html?__inline">
		<nav class="nav-list">
			<ul class="label-list">
				<!--父级目录携带统计目录-->
				<li v-for="item in nav_top" v-bind:class="{'noAll':item.title!='全部'}">
					<i class="icon-left">></i><i class="icon-right">></i>
					{{item.title}}
					<template v-if="nav_same[$index]">
					<ul class="type-one clear">
						<span>分类:</span>
						<li v-for="ite in nav_same[$index]">{{ite.title}}</li>
					</ul>
					</template>
				</li>
			</ul>
			<!--子集目录-->
			<ul class="type-two clear">
				<span>课程</span>
				<li v-for="item in nav_childrens">{{item.title}}</li>
			</ul>
		</nav>
		<ul class="type-three clear">
				<li>全部课程</li>
				<li>即将开始</li>
				<li>正在进行</li>
				<li>已经结束</li>
				<div>排序
					<span></span>
					<ul>
						<li>按最新</li>
						<li>按热门</li>
					</ul>
				</div>
			</ul>
		<article class="course-content">
			<section>
				<ul class="clear">
					<li v-for="item in courselist">
						<figure>
							<img src={{item.imgsrc}} alt="course" />
							<h5>{{item.title}}</h5>
							<ul>
								<li>{{item.studypeople}}人学习</li>
								<li>{{item.courseNumber}}课时</li>
								<li>{{item.alltime}}</li>
							</ul>
						</figure>
					</li>
				</ul>
			</section>
			<section id="pagecontrol"></section>
		</article>
		<link rel="import" href="modules/html/footer/footer.html?__inline">
		<script src="lib/js/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="lib/js/vue/dist/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="lib/js/laypage/laypage.js" type="text/javascript" charset="utf-8"></script>
		<script src="modules/app/course.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
//			laypage({
//				cont: document.getElementById('pagecontrol'), //容器。值支持id名、原生dom对象，jquery对象,
//				pages: 100, //总页数
//				skin: 'yahei', //加载内置皮肤，也可以直接赋值16进制颜色值，如:#c00
//				groups: 7 //连续显示分页数
//			});
		</script>
	</body>
</html>