@import "./config";
body {
    background-image: url("../../img/common/content-bc.png");
}
nav{
    width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    height: 55px;
    line-height: 55px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding-left: 10px;
    >ul{
        >li{
        float: left;
        color: #313131;
        font-size: 16px;
        cursor: pointer;
        width: 93px;
        height: 35px;
        transition: all 0.2s ease-in;
        text-align: center;
        margin-top: 10px;
        line-height: 35px;
        margin-right: 50px;
        &:hover{
           color: #FFFFFF;
          background-color: #8b0303; 
        }
      }
      >.select{
          color: #FFFFFF;
          background-color: #8b0303;
      }
    }
}
article{
    width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    >ul{
        background-color: #FFFFFF;
        margin-bottom: 180px;
        min-height: 300px;
        >li{
            cursor: pointer;
            height: 70px;
            border-bottom: 1px dashed #d9d3bf;
            padding: 20px 40px 15px 20px;
            box-sizing: border-box;
            &:hover{
                background-color: #DADADA;
                >a{
                    >p{
                        color: #8b0303;
                    }
                }
            }
            >a{
                >p{
                    display: block;
                    color: #1b1b1b;
                    font-size: 12px;
                }
                >time{
                    display: block;
                    color: #878787;
                    font-size: 12px;
                    text-align: right;
                }
            }
        }
    }
}
