@import "./config";
body{
    background-image: url(../../img/common/content-bc.png);
}
article{
	width: 1200px;
	margin: 40px auto 130px; 
	background-color: #FFFFFF;
	height: 580px;
	padding-top: 75px;
	box-sizing: border-box;
	>p{
		background-image: url(../../img/purchase/purchase-top.png);
		margin: 0 auto;
		height: 13px;
		width: 1040px;
		margin-bottom: 40px;
	}
	>.outer{
		width: 700px;
		margin: 0 auto;
		>.top{
			height: 70px;
			overflow: hidden;
			margin-bottom: 5px;
			>img{
				float: left;
				align-content: center;
				margin-top: 10px;
				margin-right: 20px;
			}
			>h2{
				width: 370px;
				color: #2d2d2d;
				font-size: 26px;
				text-align: justify;
				float: left;
				line-height: 45px;
				>p{
					font-weight: 400;
					color: #4c4c4c;
					font-size: 16px;
					line-height: 30px;
				}
			}
			>h3{
				float: right;
				text-align: right;
				color: #4c4c4c;
				font-size: 18px;
				font-weight: 400;
				margin-top: 49px;
				>span{
					color: #860504;
				}
			}
		}
		>h3{
			text-indent: 63px;
			font-weight: 400;
			color: #4c4c4c;
			font-size: 16px;
			line-height: 30px;
		}
		>button{
			display: block;
			margin: 0 auto;
			border-radius: 3px;
			width: 73px;
			height: 37px;
			text-align: center;
			line-height: 37px;
			color: #FFFFFF;
			font-size: 14px;
			border: none;
			background-color: #8C0202;
			margin-top: 40px;
			cursor: pointer;
			
		}
	}
}
