@import "./config";
body {
	background-image: url("./../img/common/content-bc.png");
}
article {
	width: 1200px;
	margin: 40px auto 0;
	box-sizing: border-box;
	border: 1px solid #c2c2c2;
	border-left: 1.5px solid #8c0202;
	height: 560px;
	background-image: url("../../img/common/password.png");
	margin-bottom: 155px;
	>.left {
		width: 210px;
		box-sizing: border-box;
		border-right: 1px solid #c2c2c2;
		height: 100%;
		float: left;
		>h1 {
			height: 90px;
			color: #545454;
			font-size: 24px;
			text-align: center;
			line-height: 90px;
			font-weight: 400;
			border-bottom: 1px solid #c2c2c2;
		}
		>h2 {
			box-sizing: border-box;
			height: 90px;
			box-sizing: border-box;
			font-weight: 400;
			padding: 15px 25px;
			font-size: 18px;
			color: #636363;
			border-bottom: 1px solid #c2c2c2;
			cursor: pointer;
			&:hover {
				background-image: url("../../img/common/header-bc.png");
				color: #FFFFFF;
				>i {
					color: #FFFFFF;
				}
				>p {
					color: #FFFFFF;
				}
			}
			>i {
				color: #8c0202;
				font-size: 20px;
			}
			>p {
				font-size: 12px;
				color: #a4a4a4;
				line-height: 30px;
			}
		}
		>.select {
			background-image: url("../../img/common/header-bc.png");
			color: #FFFFFF;
			>i {
				color: #FFFFff;
			}
			>p {
				color: #FFFFFF;
			}
		}
	}
	>.right {
		width: calc(100% - 210px);
		float: right;
		padding: 0 40px;
		box-sizing: border-box;
		>h2 {
			color: #585858;
			font-size: 16px;
			height: 50px;
			line-height: 50px;
			box-sizing: border-box;
			border-bottom: 1px solid #d7d7d7;
			>span {
				width: 105px;
				text-align: center;
				padding: 0 30px;
				display: block;
				height: 100%;
				border-bottom: 1px solid #8c0202;
				line-height: 50px;
			}
		}
		>.type_phone {
			>.title {
				margin-top: 20px;
				height: 25px;
				line-height: 25px;
				width: 100%;
				margin-bottom: 50px;
			}
			//第一步
			>.title_one {
				background-image: url("../../img/common/pass_one.png");
				background-repeat: no-repeat;
			}
			//第二步
			>.title_two {
				background-image: url("../../img/common/pass_two.png");
				background-repeat: no-repeat;
			}
			//第三步
			>.title_three {
				background-image: url("../../img/common/pass_three.png");
				background-repeat: no-repeat;
			}
			>.content {
				width: 100%;
				>li {
					display: none;
				}
				>.one {
					>ul {
						>li {
							color: #8c0202;
							font-size: 14px;
							margin-bottom: 15px;
							>span {
								font-size: 14px;
								color: #8d8c8c;
							}
							>input {
								height: 40px;
								line-height: 40px;
								width: 270px;
								box-sizing: border-box;
								border: 1px solid #8c0202;
								box-sizing: border-box;
								padding-left: 10px;
							}
							>h5 {
								width: 85px;
								margin-left: 170px;
								float: left;
								text-align: right;
								line-height: 40px;
							}
							>button {
								border: none;
								padding: 0 20px;
								height: 40px;
								line-height: 40px;
								color: #FFFFFF;
								border-radius: 3px;
								cursor: pointer;
								background-image: url("../../img/common/header-bc.png");
							}
							>.next {
								margin-left: 325px;
							}
						}
					}
				}
				>.two {
					>ul {
						>li {
							color: #8c0202;
							font-size: 14px;
							margin-bottom: 15px;
							>input {
								height: 40px;
								line-height: 40px;
								width: 384px;
								box-sizing: border-box;
								box-sizing: border-box;
								padding-left: 10px;
								outline-color: #8c0202;
							}
							>h5 {
								width: 85px;
								margin-left: 170px;
								float: left;
								text-align: right;
								line-height: 40px;
							}
						}
						>button {
							cursor: pointer;
							display: block;
							margin: 0 auto;
							height: 35px;
							width: 80px;
							text-align: center;
							line-height: 35px;
							color: #FFFFFF;
							border: none;
							border-radius: 3px;
							background-image: url("../../dist/img/common/header-bc.png");
						}
					}
				}
				>.three {
					color: #8c0202;
					text-align: center;
					font-size: 22px;
				}
				>.show {
					display: block;
				}
			}
		}
		>div {
			display: none;
		}
		>.show {
			display: block;
		}
	}
}