body{
    background-image: url("../../img/common/content-bc.png");
}
article{
    >.top{
        height: 140px;
        background-color: #eeeeee;
        padding-top: 43px;
        box-sizing: border-box;
        border-bottom:1px solid #d7d7d7 ;
        >form{
            height: 43px;
            width: 753px;
            position: relative;
            margin: 0 auto;
            >i{
                height: 43px;
                width: 50px;
                background-color: #FFFFFF;
                position: absolute;
                left: 0;
                top: 0px;
                line-height: 35px;
                text-align: center;
                 border: 2px solid #9d0a0a;
                 border-right: none;
                 box-sizing: border-box;
                 color: #d1d1d1;
                 border-right: 1px solid #d1d1d1;
                 font-size: 20px;
                 cursor: pointer;
            }
            >input{
                width: 610px;
                box-sizing: border-box;
                padding-left: 55px;
                background-color: #FFFFFF;
                border: 2px solid #9d0a0a;
                font-size: 14px;
                float: left;
                height: 43px;
            }
            >button{
                width: 70px;
                height: 43px;
                line-height: 43px;
                text-align: center;
                border: none;
                color: #FFFFFF;
                font-size: 16px;
                float: left;
                background-color: #9d0a0a;
                cursor: pointer;
            }
            >.lookfor{
                margin-right: 3px;
            }
        }
    }
    >.content{
      width: 1200px;
      margin: 0 auto;
      padding-bottom: 50px;
      >h2{
        color: #292929;
        font-size: 16px;
        margin:  25px 0;
        line-height: 30px;
        margin-bottom: 35px;
      }
      >h3{
        color: #030303;
        font-size: 18px;
        margin: 10px 0;
      }
      >p{
        color: #0f0f0f;
        font-size: 14px;
        line-height: 35px;
      }
      >.asides{
        margin-top: 50px;
        >h3{
            font-size: 18px;
            color: #424242;
            margin-bottom: 10px;
        }
        >p{
            font-size: 14px;
            color: #424242;
            line-height: 30px;
            >a{
                color: #424242;
            }
        }
      }
    }
    >.bottom{
        width: 1200px;
        margin: 0 auto;
        margin-top: 13px;
        margin-bottom: 70px;
        >h1{
            font-size: 16px;
            color: #0d0d0d;
            padding-left: 15px;
            box-sizing: border-box;
            height: 50px;
            border: 1px solid #d7d7d7;
            border-bottom: 1px solid #8c0202;
            margin-bottom: 5px;
            line-height: 50px;
            background-color: #EEEEEE;
        }
        >ul{
            border:1px solid #dfdfdf ;
            border-right: none;
            >li{
                width: 50%;
                box-sizing: border-box;
                float: left;
                height: 50px;
                line-height: 50px;
                background-color: #FFFFFF;
                border-bottom: 1px solid #dfdfdf;
                border-right: 1px solid #dfdfdf;
                >h2{
                    height: 49px;
                    width: 160px;
                    background-color: #EEEEEE;
                    text-align: center;
                     border-right: 1px solid #dfdfdf;
                     box-sizing: border-box;
                     color: #575454;
                     font-size: 14px;
                     font-weight: 400;
                     float: left;
                }
                >p{
                    float: left;
                    box-sizing: border-box;
                    padding-left: 30px;
                    color: #575454;
                     font-size: 14px;
                     width: calc(100% - 160px);
                }
            }
            >.intr{
                float: right;
                width: 50%;
                box-sizing: border-box;
                height: 300px;
                border-right: 1px solid #dfdfdf;
                border-bottom: 1px solid #dfdfdf;
                background-color: #FFFFFF;
                padding: 15px ;
                padding-top: 0;
                >h2{
                    text-align: center;
                    height: 50px;
                    line-height: 50px;
                    color: #151414;
                    font-size: 18px;
                    transform: sca
                }
                >img{
                  display: block;
                  margin: 0 auto;
                  max-width: 100%;
                  max-height: calc(100% - 50px);
                }
            }
            >.worksintr{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-between;
                >h2{
                    height: auto;
                }
                >p{
                   line-height: 30px;
                   padding: 0 30px;
                }
            }
            >.worksimg{
                float: left;
                width: 100%;
                background-color: #FFFFFF;
                border-right: 1px solid #dfdfdf ;
                box-sizing: border-box;
                >h2{
                    text-align: center;
                    height: 50px;
                    line-height: 50px;
                    color: #151414;
                    font-size: 18px;
                }
                >img{
                	display: block;
                	max-width: 100%;
                  margin: 0 auto;
                  margin-bottom: 15px
                }
            }
        }
        >.twocode{
            margin-top: 25px;
            >img{
                display: block;
                height: 115px;
                width: 115px;
                float: left;
            }
            >h3{
                font-size: 18px;
                color: #424242;
                float: left;
                width: calc(100% - 115px);
                text-indent: 10px;
                margin-bottom: 10px;
            }
            >p{
                font-size: 14px;
                color: #424242;
                float: left;
                width: calc(100% - 115px);
                text-indent: 10px;
                line-height: 30px;
                >a{
                    color: #424242;
                }
            }
        }
    }
}
