<div class="person_card">
	<h1>我的作品
		<button type="button"><i class="iconfont">&#xe60f;</i>上传作品</button>
	</h1>
	<ul class="type-check">
		<li class="width-1">课程/作品名称</li>
		<li class="width-2">创建时间</li>
		<li class="width-3">状态</li>
		<li class="width-4">操作</li>
	</ul>
	<ul class="worklist">
		<li v-for="item in workslist">
			<ul class="clear">
				
				<li class="width-1">
					<img src={{item.src}}/>
					<h5 class="overflow_pre">{{item.title}}</h5>
					<p class="overflow_pre">材质：{{ltem.type}}</p>
				</li>
				<li class="width-2">{{item.time}}</li>
				<li class="width-3">{{item.state}}</li>
				<li class="width-4">
					<template v-if="item.change">
					<button type="button">修改</button>
					</template>
					<template v-if="item.back">
					<button type="button">撤回</button>
					</template>
					<template v-if="item.delect">
					<button type="button">删除</button>
					</template>
					<template v-if="item.commit">
					<button type="button">提交</button>
					</template>
				</li>
			</ul>
		</li>
		<!--<li>
			<ul class="clear">
				<li class="width-1">
					<img src="../../../img/coursecenter/course-lizi.png"/>
					<h5 class="overflow_pre">玉石雕刻之传承之玉</h5>
					<p class="overflow_pre">材质：和田玉</p>
				</li>
				<li class="width-2">2016年9月20日    13:44</li>
				<li class="width-3">审核通过</li>
				<li class="width-4">
					<button type="button">修改</button>
					<button type="button">撤回</button>
					<button type="button">删除</button>
					<button type="button">提交</button>
				</li>
			</ul>
		</li>
		<li>
			<ul class="clear">
				<li class="width-1">
					<img src="../../../img/coursecenter/course-lizi.png"/>
					<h5 class="overflow_pre">玉石雕刻之传承之玉</h5>
					<p class="overflow_pre">材质：和田玉</p>
				</li>
				<li class="width-2">2016年9月20日    13:44</li>
				<li class="width-3">审核通过</li>
				<li class="width-4">
					
					<button type="button">修改</button>
					<button type="button">撤回</button>
					<button type="button">删除</button>
					<button type="button">提交</button>
				</li>
			</ul>
		</li>-->
	</ul>
	<div id="pagecontrol"></div>
	<link rel="stylesheet" type="text/css" href="../../../dist/lib/js/laypage/skin/laypage.css"/>
	<script src="../../../lib/js/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../lib/js/vue/dist/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../lib/js/laypage/laypage.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		laypage({
				cont: $('#pagecontrol'), //容器。值支持id名、原生dom对象，jquery对象,
				pages: 100, //总页数
				skip: true, //是否开启跳页
				skin: '#AF0000',
				groups: 3 //连续显示分页数
			});
		
		new Vue({
			el:".person_card",
			data:function  () {
				return{
					workslist:[
					{
						src:"/img/coursecenter/course-lizi.png",
						title:'玉石雕刻之传承之玉',
						type:'和田玉',
						time:'2016年9月20日    13:44',
						state:'审核通过',
						change:true,
						back:true,
						delect:true,
						commit:true,
					},
					{
						src:"/img/coursecenter/course-lizi.png",
						title:'玉石雕刻之传承之玉',
						type:'和田玉',
						time:'2016年9月20日    13:44',
						state:'审核通过',
						change:true,
						back:true,
						delect:true,
						commit:true,
					},
					{
						src:"/img/coursecenter/course-lizi.png",
						title:'玉石雕刻之传承之玉',
						type:'和田玉',
						time:'2016年9月20日    13:44',
						state:'审核通过',
						change:true,
						back:true,
						delect:true,
						commit:true,
					},
					{
						src:"/img/coursecenter/course-lizi.png",
						title:'玉石雕刻之传承之玉',
						type:'和田玉',
						time:'2016年9月20日    13:44',
						state:'审核通过',
						change:true,
						back:true,
						delect:true,
						commit:true,
					},
					
					]
				}
			}
		})
	</script>
</div>
