.person_card {
    width: 100%;
    >h1 {
        height: 50px;
        line-height: 50px;
        box-sizing: border-box;
        padding-left: 40px;
        color: #313131;
        font-size: 17px;
        padding-right: 35px;
        background-color: #FFFFFF;
        position: relative;
        margin-bottom: 20px;
        >button {
            height: 33px;
            line-height: 33px;
            text-align: center;
            color: #FFFFFF;
            float: right;
            background-color: #7a0907;
            font-size: 14px;
            border: none;
            padding: 0 15px;
            border-radius: 3px;
            margin-top: 8px;
            cursor: pointer;
            transition: all 0.2s ease-in;
            &:hover {
                box-shadow: 0 0 7px 0 rgba(0,0,0,0.7);
            }
        }
    }
    .width-1 {
        width: 270px;
    }
    .width-2 {
        width: 200px;
    }
    .width-3 {
        width: 140px;
    }
    .width-4 {
        width: 230px;
    }
    >.type-check {
        margin-top: 10px;
        height: 50px;
        background-color: #FFFFFF;
        box-sizing: border-box;
        padding-left: 40px;
        >li {
            float: left;
            text-align: center;
            height: 50px;
            line-height: 50px;
            font-size: 14px;
            color: #3f3f3f;
        }
        >.width-1 {
            text-align: left;
        }
    }
    >.worklist {
        >li {
            height: 105px;
            box-sizing: border-box;
            padding: 17px 0 17px 40px;
            margin-top: 5px;
            background-color: #FFFFFF;
            >ul {
                >li {
                    line-height: 70px;
                    font-size: 14px;
                    color: #3f3f3f;
                    float: left;
                    text-align: center;
                    >img {
                        width: 100px;
                        height: 66px;
                        float: left;
                        display: block;
                    }
                    >h5 {
                    	width: calc(100% - 100px);
                    	text-align: left;
                        font-size: 14px;
                        color: #3f3f3f;
                        float: left;
                        height: 25px;
                        line-height: 25px;
                        text-indent: 10px;
                        font-weight: 400;
                        margin-top: 10px;
                    }
                    >p {
                    	width: calc(100% - 100px);
                    	text-align: left;
                        font-size: 14px;
                        color: #3f3f3f;
                        float: left;
                        height: 25px;
                        line-height: 25px;
                        text-indent: 10px;
                    }
                    >button {
                        width: 46px;
                        height: 24px;
                        border: 1px solid #7a0907;
                        font-size: 14px;
                        color: #3f3f3f;
                        line-height: 24px;
                        text-align: center;
                        transition: all 0.2s ease-in;
                        background-color: transparent;
                        border-radius: 3px;
                        cursor: pointer;
                        &:hover {
                            color: #FFFFFF;
                            background-color: #7a0907;
                        }
                    }
                }
            }
        }
    }
    >#pagecontrol{
        margin: 0 auto;
        margin-top: 40px;
        text-align: center;
    }
}